* {
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #eae0d5;
}
.navbar {
    overflow: hidden;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eae0d5;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    opacity: 0.8;
}
  
.navbar a {
    float: left;
    display: block;
    color: #eae0d5;
    text-align: center;
    padding: 18px;
    width: 8%; 
}
  
.navbar a.right {
    float: right;
}
  
.navbar a:hover {
    background-color: #22333b;
    color: #eae0d5;
}

a:link {
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.column1,.column2{
    margin-top: 80px;
}
.column1 {
    float: left;
    color: #0a0908;
    width: 30%;
    padding: 5px;
    height: 400px;
    border-radius: 20px;
    margin-right: 20px ;
    margin-left: 20px ;
    text-align: center;
    position: relative;
}

.column2 {
    float: left;
    width: 66%;
    padding: 5px;
    height: 400px;
    border-radius: 20px;
    text-align: left;
    padding-left: 40px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.bg-image {
    position:absolute;
    rotate: 5deg;
    opacity: 0.5;
    margin: 35px;
    width: 80%;
    height:80%;
    border-radius: 20px;
    background-image:url(law.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
  
.container2 {
    padding: 0px;
}
  
.col-25 {
    float: left;
    width: 20%;
    margin-top: 3px;
}
  
.col-75 {
    float: right;
    width: 70%;
    margin-top: 3px;
    margin-right: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.btn {
    border: 2px solid #22333b;
    color: #22333b;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 20px;
    float: right;
  }
  
.success {
    background-color: #eae0d5;
    color: #22333b;
    border-color: none;
    -webkit-text-stroke-width: 0.5px;
}

.success2 {
    background-color: #eae0d5;
    color: #22333b;
    border-color: none;
    margin-top: 30px;
    margin-right: 40px;
    -webkit-text-stroke-width: 0.5px;
}

.success:hover {
    background-color: #22333b;
    color: #eae0d5;
    border-color: #eae0d5;
    -webkit-text-stroke-width: 0.5px;
}

.success2:hover {
    background-color: #22333b;
    color: #eae0d5;
    border-color: #eae0d5;
    -webkit-text-stroke-width: 0.5px;
}

.footer {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 97%;
    background-color: #0a0908;
    color: #eae0d5;
    text-align: center;
    background-image: linear-gradient(to top, #0a0908, #22333b);
}
