*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #eae0d5;
}
  
.navbar {
    overflow: hidden;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eae0d5;
    transition: top 0.3s;
    position: fixed;
    width: 100%;
    opacity: 0.8;
}
  
.navbar a {
    float: left;
    display: block;
    color: #eae0d5;
    text-align: center;
    padding: 18px;
    width: 8%; 
}
  
.navbar a.right {
    float: right;
}
  
.navbar a:hover {
    background-color: #22333b;
    color: #eae0d5;
}

a:link {
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: #eae0d5;
    padding: 20px;
}
  
.container {
    padding-left: 20px ;
    height: 500px;
    padding-top: 10px;
    margin-top: 50px;
    border-radius: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    margin-left: 5px;
    text-align: center;
    color: #22333b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}
  
.title {
    color: grey;
    font-size: 18px;
}
  

.footer {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 97%;
    background-color: #0a0908;
    color: #eae0d5;
    text-align: center;
    background-image: linear-gradient(to top, #0a0908, #22333b);
}